extends ./../layout

block stylesheets
		link(rel="stylesheet", href="")

block content
	p Chat test

block scripts
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/socket-admin.js')